.reservationPageTitle {
  text-align: center;
  padding: 2rem;
}

// .reservationsBody {
//     display: flex;
//     flex-direction: row;
// }

.reservationPageMessage {
  text-align: center;
  padding: 0 3rem;
}

table {
  margin: 3rem auto;
}

td,
th {
  text-align: left;
  padding: 0.5rem;
}

td {
  font-weight: 500;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;

  div {
    text-align: center;
  }

  a {
    padding: 1rem;
    background-color: green;
    border-radius: 1rem;
    color: white;
  }
}
