// * {
//  border: 1px solid blueviolet;
// }

body {
  padding: 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heading > h1 {
  font-weight: 900;
}

.heading > p {
  color: $grey;
  font-weight: 700;
}

.main-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-page-section > .divider {
  display: none;
}

.next,
.previous {
  display: none;
}

.tutors-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carousel-slide {
  padding: 10px;
  width: 300px;
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  .main-page-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel {
    position: relative;
    display: block;
    height: 420px;
    width: 900px;
  }

  .carousel-track {
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
    width: 300px;
  }

  .track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .pointer-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: block;
    width: 90px;
    padding: 20px;
    border: none;
  }

  .previous {
    left: -100px;
    text-align: right;
    border-radius: 0 50px 50px 0;
  }

  .next {
    right: -100px;
    text-align: left;
    border-radius: 50px 0 0  50px;
  }
}
