$orange: #ffb400;
$green: #97bf0f;
$grey: #cecece;
$black: #030303;
$previous-btn-grey: #efefef;

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5rem;
  font-family: $Montserrat;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
}
