
.flex {
  display: flex;
  flex-direction: column;
}

.add-item {
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  h1 {
    margin-right: auto;
  }

  form {
    // width: 25rem;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;

    .label-with-input {
      gap: 0.5rem;
    }

    label {
      width: 22rem;
    }

    input {
      border: none;
      border-bottom: 1px solid black;
      margin-top: 1rem;
      padding: 0.5rem;
    }

    input:focus {
      outline: none;
    }

    button {
      border: none;
      background: #97c010;
      color: #f6fdec;
      border-radius: 15px;
      height: 2rem;
      width: 15rem;
    }
  }
}

@media screen and (max-width: 370px) {
  .add-item {
    height: 100%;

    form {
      width: auto;

      label {
        width: 15rem;
      }
    }
  }
}
