/* font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

$font: 'Mulish', sans-serif;
$logo-font: 'Caveat Brush', cursive;

/* variables */
$orange: #ffb400;
$green: #96bf0fe1;
$grey: #c2c0c0;
$black: #030303;
$previous-btn-grey: #efefef;

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid rebeccapurple;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5rem;
  font-family: $font;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.btn,
button {
  padding: 10px;
  border-radius: 60px;
  color: white;
  border: 2px solid white;
  background-color: #96bf0f;
  cursor: pointer;
  font-weight: 900;
}

.popup-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #000, $alpha: 0.5);
  color: $green;

  p {
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid $green;
    font-weight: 900;
  }

  @media (min-width: 768px) {
    padding: 20px 20px 20px 10rem;
  }
}

.no-items-available {
  text-align: center;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* imports */
@import './style/nav';
@import './style/main_page';
@import './style/tutor';
@import './style/reserve_form';
@import './style/reservations';
@import './style/single_tutor';
@import './style/user_actions';
@import './style/user';
@import './style/add_tutor';
@import './style/404_page';
