/* font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* variables */

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5rem;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* imports */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heading > h1 {
  font-weight: 900;
}

.heading > p {
  color: #c2c0c0;
  font-weight: 700;
}

.main-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px 30px 30px 30px;
}

.login-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: #96bf0fe1;
  color: white;
}

.login-button:hover,
.login-button:active {
  background-color: green;
}

.divider {
  display: flex;
  gap: 5px;
}

.main-page-section > .divider {
  display: none;
}

.next,
.previous {
  display: none;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .carousel-container {
    justify-content: space-between;
  }
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 300px;
  flex-direction: column;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 30px;
}

@media (min-width: 768px) {
  .carousel {
    width: 600px;
    flex-direction: row;
    gap: 0;
  }
}

@media (min-width: 1100px) {
  .carousel {
    width: 900px;
  }
}

@media (min-width: 1400px) {
  .carousel {
    width: 1200px;
  }
}

.carousel::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }

  #root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .main-page-section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10rem);
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .main-page-section > .divider {
    display: flex;
  }

  .next,
  .previous {
    display: block;
    width: 90px;
    padding: 20px;
    border: none;
    cursor: pointer;
    background-color: #c2c0c0;
    opacity: 0.5;
  }

  .previous {
    text-align: right;
    border-radius: 0 50px 50px 0;
  }

  .next {
    text-align: left;
    border-radius: 50px 0 0 50px;
  }

  .next:hover,
  .previous:hover {
    opacity: 1;
    background-color: #96bf0fe1;
  }

  .next:active,
  .previous:active {
    background-color: green;
  }
}

.tutor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 450px;
  width: 300px;
  padding: 20px;
}

.divider-bullet {
  width: 4px;
  height: 4px;
  background-color: #c2c0c0;
  border: 1px solid #c2c0c0;
  border-radius: 10px;
}

.profile-pic-container {
  border: 1px solid #c2c0c0;
  border-radius: 8px;
}

.profile-pic-container > img {
  border-radius: 8px;
  height: 150px;
  width: 255px;
}

.tutor-description {
  color: #c2c0c0;
  font-weight: 700;
  text-align: center;
  height: 4.5rem;
}

.tutor-social-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.tutor-sm-link {
  display: flex;
  padding: 10px;
  border: 1px solid #c2c0c0;
  border-radius: 60px;
  color: #c2c0c0;
}

.reserve-tutor-page {
  padding: 1rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  background-color: #96bf0fe1;
  color: white;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg, #96bf0fe1, #96bf0fe1), url(https://scontent.fczl2-1.fna.fbcdn.net/v/t39.30808-6/242590008_100148449103173_1128193814231199208_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=kFDILmZcQnsAX-Xxcl-&_nc_ht=scontent.fczl2-1.fna&oh=00_AfCLBkPRij20UZyoH9sEResWiGJHtdyO1FXUAJE55muIXQ&oe=640651B7);
}

.reserve-tutor-page .search-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid white;
}

.reserve-tutor-page h1,
.reserve-tutor-page p {
  color: white;
}

.reserve-tutor-page p {
  font-weight: 500;
}

.reserve-tutor-page .reserve-page-divider {
  border: 0.5px solid white;
  width: calc(100% - 100px);
}

@media (min-width: 768px) {
  .reserve-tutor-page {
    padding: 1rem 15%;
  }
}

.reserve-form {
  width: 320px;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.reserve-form .error-messages {
  height: 1.5rem;
  padding: 10px;
  width: 100%;
  color: rgba(255, 0, 0, 0.76);
  font-weight: 900;
}

.reserve-form input,
.reserve-form select {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  border: 1px solid white;
  background-color: #96bf0fe1;
}

.reserve-form input[type="submit"] {
  color: #96bf0fe1;
  background-color: white;
  border: 1px solid #96bf0fe1;
}
